@media screen and (max-width: 700px) {
 
    
    .top-navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background-color: white;
        overflow: hidden;
        flex-direction: column;
        position: relative;
        z-index: 1;

    }
     .nav-brand {
        text-align: center;
        margin: 0 auto;
        display:inline-block;
        color: black;
        
    }
    .active .nav-brand{
        display: none;
    }
    
    .navbar-item{
        padding: 10px;
        text-align: center;
        width: 100%;
        display: none;
    }

    .active .navbar-item{
        display:inline-block;
    }

    .top-navbar .navbar-item .nav-link{
        color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
    }

    .navbar-item .nav-link:hover{
        color: rgb(182, 182, 182);
        border: black solid 1px;
        }

    .toggle{
        font-size: 20px;
        display: block;
    }

    .head-title h1{
        font-size: 40px;
        letter-spacing: 4px;
    }
  }
