@media screen and (max-width: 700px) {
 
    
    .top-navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background-color: white;
        overflow: hidden;
        flex-direction: column;
        position: relative;
        z-index: 1;

    }
    .nav-brand .active{
        display: none;
        
    }
    .navbar-item{
        padding: 10px;
        text-align: center;
        width: 100%;
        display: none;
    }

    .active .navbar-item{
        display: block;
    }

    .top-navbar .navbar-item .nav-link{
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
    }
   
    .toggle{
        font-size: 20px;
        display: block;
    }
  }
