*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    position:relative;
    font-size: 16px;
}

a{
    text-decoration: none;
}

h1{
    font-size: 48px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
/*------navgiton------*/

.top-navbar{
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 60px ;
}

.nav-brand{
    
cursor: pointer;
margin-right: auto;
text-transform: uppercase;
font-weight: 600;
font-size: 24px;
padding-top: 10px;
color: rgb(244, 255, 182);
}

.navbar-nav{
    list-style: none;
    padding: 0 30px;
}

.navbar-item{
    display: inline-block;
    margin: 0 5px;
    
}

.navbar-item .nav-link {
    color: white;
    letter-spacing: 2px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
    font-size: 18px;
}



.navbar-item .nav-link:hover{
color: rgb(182, 182, 182);

}

.toggle {
  display: none;
}

.toggle .fas{
    color: #000;
}

.head{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('image/tea-shop-background.jpg');
    height:  100vh;
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.head-title{
    color: white;
    text-align: center;
    position: relative;
	justify-content: center;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-transform: capitalize;
   
}

.head-title h1{
    letter-spacing: 8px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.head-title p{

    margin-bottom: 25px;
}

.head-title .btn{
    display: inline-block;
    padding: 14px 20px;
    background-color: rgb(244, 255, 182);
    border-radius: 100px;
    color: black;
}

.head-title .btn:hover{
    
    transition: all 0.3s ease 0s;
}

.head-title p,
 .btn{
    letter-spacing: 3px;
}

.about {
    background-color: rgb(244, 255, 182);
    min-height: 300px;
    display:flex;
    justify-content:center;
    text-align: center;
}

.about .container{
  max-width: 900px;
}

.about .container .text h2{
 padding: 0 30px 30px;
}

.about .container .text p{
    align-items:center;
}

.section-title h2{
    padding: 0 40px 40px;
  text-align: center;  
}
.container{
    padding: 30px;
    margin: 50px;
}

.shop-container{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.shop .container .box{
    width: 230px;
    text-align: center;  
    margin: 15px;
}

.shop .container .box h3{
    padding-top: 15px;
   
}

.shop .container .box p{
    padding-top: 15px;
    color: rgb(114, 114, 114);
}

.img-box img{
    width: 150px;
    border-radius: 100%;
    background-color: rgb(244, 255, 182);
}