*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    position:relative;
    font-size: 16px;
}

a{
    text-decoration: none;
}

h1{
    font-size: 48px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
/*------navgiton------*/

.top-navbar{
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 60px ;
}

.nav-brand{
    
cursor: pointer;
margin-right: auto;
text-transform: uppercase;
font-weight: 600;
font-size: 24px;
padding-top: 10px;
color: rgb(248, 255, 210);
}

.navbar-nav{
    list-style: none;
    padding: 0 30px;
}

.navbar-item{
    display: inline-block;
    margin: 0 5px;
    
}

.navbar-item .nav-link {
    color: white;
    letter-spacing: 2px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
    font-size: 18px;
}



.navbar-item .nav-link:hover{
color: rgb(182, 182, 182);

}

.toggle {
  display: none;
}

.toggle .fas{
    color: #000;
}

.head{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('image/tea-shop-background.jpg');
    height:  100vh;
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.head-title{
    color: white;
    text-align: center;
    position: relative;
	justify-content: center;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-transform: capitalize;
   
}

.head-title h1{
    letter-spacing: 8px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.head-title p{

    margin-bottom: 25px;
}

.head-title .btn{
    display: inline-block;
    padding: 14px 20px;
    background-color: rgb(248, 255, 210);
    border-radius: 100px;
    color: black;
}

.head-title .btn:hover{
    opacity: 0.9;
    color: rgb(107, 107, 107);
    transition: all 0.3s ease 0s;
}

.head-title p,
 .btn{
    letter-spacing: 3px;
}

.about {
    background-color: rgb(248, 255, 210);
    min-height: 300px;
    display:flex;
    justify-content:center;
    text-align: center;
}

.about .container{
  max-width: 900px;
}


.section-title{
    text-transform: capitalize;
}

.section-title h2{
    font-size: 35px;
    font-weight: 500;
    padding: 0 40px 40px;
    text-align: center;  
}
.container{
    padding: 30px;
    margin: 50px;
    text-align: center;
}

.shop-container{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.shop .container .box{
    width: 250px;
    text-align: center;  
    margin: 15px;
}

.shop .container .box h3{
    padding-top: 15px;
    font-size: 20px;
    font-weight: 400;
   
}

.shop .container .box p{
    font-size: 14px;
    padding-top: 15px;
    color: rgb(114, 114, 114);
}

.img-box img{
    width: 150px;
    border-radius: 100%;
    background-color: rgb(248, 255, 210);
}

.blog{
background-color: rgb(253, 253, 253);
padding: 2rem;
}

.container-blog{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 6rem;
  }
  
  img {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #f8ffd1);
  
  }
  
  
  
  .card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  .card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
  }
  
  .card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
  }
  
  .user {
    display: flex;
    gap: .5rem;
  }
  
  .user__image {
    border-radius: 50%;
  }
  
  .user__info > small {
    color: #666;
  }

  .Contact-container{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.Contact .container .box{
    width: 250px;
    text-align: center;  
    margin: 15px;
}

.Contact .container .box h3{
    padding-top: 15px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(37, 37, 37);
   
}

.Contact .container .box p{
    font-size: 14px;
    padding-top: 15px;
    color: rgb(114, 114, 114);
}

footer{
    
    text-align: center;
    height: 50px;
    padding: 30px 0;
 }
 .curved {
    position: relative;
    background: rgb(248, 255, 210);
    height: 15vh;
    border-top-left-radius: 50% 30%;
    border-top-right-radius: 50% 30%;
  }
 .author a{
     top: 50%;
 font-size: 13px;
  font-weight:900;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);;
  }

  .author a:hover{
      color: rgb(114, 114, 114);
  }